body {
    /* height: 100vh;
    margin: 0;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2F3%2F2%2F0%2F120572-gorgerous-library-wallpaper-1920x1080-download.jpg&f=1&nofb=1);
    background-size: cover;
    background-position: center; */


    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgb(80, 186, 224);
    color: rgb(255, 255, 255);
   
}

h1, h2, h3, h4{
    width: 1vmax;
}


img{
    max-height: 100%;
    height: auto;
}


#HeaderText {
    text-align: center;
    width: 2vw;
    font-family: 'Macondo';
    padding-left: 49%;
    padding-right: 49%;
}

/*                                                                                                              B U T T O N                                                                                                     */


.buttonContainer{
    padding-left: 5%;
    text-align: center;
    width: 10vmax;
    height: 10vmax;
    padding-left: 46%;
    padding-right: 46%;
}

.btn{
    background-color: white;
    display: block;
    width: 220px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(90, 90, 90);
    border: 1px black solid;
    cursor: pointer;
}

.popup{
    display: block;
    padding: 1vw;
    color: white;
    width: 50%;
    margin: 0 auto;
    position: relative;
    transition: .5s all;
    top: -999px;
}

.popup input { 
    display: block;
    width: 100%;
    border: none;
    height: 25px;
    margin: 10px 0;
}

#modal:checked ~ .popup {
    top: 0;
}

#modal {
    display: none;
}

/*                                                                                                              C L A S S E S                                                                                                     */ 



.BookBlock{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    border: 2px black solid;
    background-color: rgb(121, 95, 193);
    width: 16vmin;
    height: 16vmax;
    padding: 2vw;
    margin: 1%;
    border-radius: 35%;
    flex-direction: column;
}


.imgLogo {
    width: 8vmax;
    height: 12vmax;
    border: 1px white solid; 
    position: relative; 
    bottom: 5vh;
     
}

.Text{
    line-height: 5vmin;
    font-size: 1vmax;
    padding: 1vmax;
}

.Name {
    position: relative;
    padding: 5px;
    bottom: 10vh;
    margin: 5px;
}

.Author {
    position: relative;
    bottom: 10vh;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.Pages {
    position: relative;
    bottom: 10vh;
    padding: 5px;
    margin: 5px;
}

.img_delete {
    height: 1vh;
    width: 1vw;
    padding: 5px;
    position: relative;
    top: 10vh;
}

.img_read {
    height: 1vw;
    width: 2vw;
    padding-bottom: 1vw;
    left: 3.3vw;
    position: relative;
    bottom: 3.9vh;
}                                                                                                                                                                                                                        

#DataChest{
    position: relative;
    display: flex;          
    flex-flow: row wrap;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 30vh;
    
}

.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgDIV { width: 4vw; height: 4vh; }


@media (max-width: 400px)
 {
    .BookBlock {
        width: 260px;
        height: 330px;
        margin-left: 11.5%;
        gap: 16%;
        margin-bottom: 3vh;

    }

    .imgLogo {
        width: 120px;
        height: 170px;
        
    }

    .img_read {
      bottom: 26.5vh;
      width: 10vw;
      height: 2vh;
      left: 17vw;
     
    }
   
       .btn {
        width: 90px;
        margin-right: 260px;
    }
     
}
